<div class="modal-body">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn-close" (click)="modalService.dismissAll()"></button>
    </div>
    <div class="row text-center">
        <h1 class="display-1"><i class="fa-solid fa-user-shield text-warning"></i></h1>
        <h4 class="my-3">Solo disponible para usuarios</h4>
    </div>
    <div class="text-center mt-4">
        <button class="btn btn-outline-primary" 
                (click)="openLogin()">
                Iniciar sesión
        </button>
    </div>

</div>