<header class="bg-light">
    <div class="container">
        <div class="row">
            <h1 class="h1 text-center"> Uatu</h1>
        </div>
        <div class="row ">
            <nav class="navbar navbar-expand-md navbar-light bg-light pb-0">
                <div class="container-fluid">
                  <button class="navbar-toggler float-left" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" 
                            routerLink="inicio" 
                            routerLinkActive="active text-dark">
                            <i class="fa-solid fa-dungeon" routerLinkActive="text-warning"></i>
                            Inicio
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"
                            routerLink="juegos"
                            routerLinkActive="active text-dark">
                            <i class="fa-solid fa-gamepad" routerLinkActive="text-warning"></i>
                            Juegos
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"
                            routerLink="clasificaciones"
                            routerLinkActive="active text-dark">
                            <i class="fa-solid fa-trophy" routerLinkActive="text-warning"></i>
                            Classificaciones
                        </a>
                      </li>
                    </ul>

                    <ul class="navbar-nav flex-row justify-content-center justify-content-md-end mb-2 mb-lg-0" 
                        *ngIf="user; else modals">
                        <li class="nav-item">
                            <span class="nav-link">
                                <i class="fa-solid fa-user text-warning"></i>
                                {{ user.name }}
                            </span>
                        </li>
                        <li class="nav-link disabled mx-2">/</li>
                        <li class="nav-item">
                            <a class="nav-link"
                                (click)="logout()" >
                                Logout
                            </a>
                        </li>
                    </ul>

                    <ng-template #modals>
                        <ul class="navbar-nav flex-row justify-content-center justify-content-md-end mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" 
                                    (click)="setShowLogin(true)" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#loginModal">
                                    <i class="fa-solid fa-user"></i>
                                    Iniciar session
                                </a>
                            </li>
                            <li class="nav-link disabled mx-2">/</li>
                            <li class="nav-item">
                                <a class="nav-link"
                                    (click)="setShowSignup(true)" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#signupModal">
                                    <i class="fa-solid fa-user-plus"></i>
                                    Crear usuario
                                </a>
                            </li>
                        </ul>
                    </ng-template>

                  </div>
                </div>
              </nav>
        </div>
    </div>
</header>

<!-- Log in Modal -->

<div class="modal fade" 
    id="loginModal" 
    tabindex="-1" 
    aria-labelledby="loginModalLabel" 
    aria-hidden="true"
    #login>

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header border-0">
                <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
                <button type="button" 
                    class="btn-close" 
                    data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>

            <div class="modal-body">
                <app-login></app-login>
            </div>

            <div class="text-center my-4">
                <small>¿Aún no tienes cuenta? 
                    <a class="nav-link text-warning d-inline p-1"
                        (click)="setShowSignup(true)" 
                        data-bs-toggle="modal" 
                        data-bs-target="#signupModal">
                        Crear usuario
                    </a>
                </small>
            </div>

        </div>
    </div>

</div>

<!-- Sign up Modal -->

<div class="modal fade" 
    id="signupModal" 
    tabindex="-1" 
    aria-labelledby="signupModalLabel" 
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header border-0">
                <h5 class="modal-title" id="signupModalLabel">Nuevo usuario</h5>
                <button type="button" 
                    class="btn-close" 
                    data-bs-dismiss="modal" 
                    aria-label="Close">
                </button>
            </div>

            <div class="modal-body">
                <app-signup></app-signup>
            </div>

            <div class="text-center my-4">
                <small>¿Ya tienes cuenta? 
                    <a class="nav-link text-warning d-inline p-1"
                        (click)="setShowLogin(true)" 
                        data-bs-toggle="modal" 
                        data-bs-target="#loginModal">
                        Iniciar sesion
                    </a>
                </small>
            </div>

        </div>
    </div>

</div>