<h2 class="text-center my-3">¿Preparado para estrujarte el cerebro?</h2>
<h3 class="text-muted text-center">Elije la temática a la que te quieras enfrentar.</h3>

<div class="row my-5">

    <div class="card px-0 rounded-3 mb-5">
        <img src="./assets/img/capitales.webp" class="card-img-top img-fluid" alt="Globo mapamundi">
        <div class="card-body">
          <h5 class="card-title">Capitales del mundo</h5>
          <p class="card-text">Acierta las capitales de todos los paises que puedas.</p>
          <div class="row col-6 mx-auto">
              <button type="button" 
                class="btn btn-primary mx-auto"
                [routerLink]="['/juegos/juego','capitales']">
                Empezar
            </button>

          </div>
        </div>
      </div>

</div>