<footer class="fixed-bottom bg-light w-100 ">
    <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-between text-center py-3">

            <div class="col order-1 order-md-0">
                <a href="#" class="link-secondary">Contacto</a>
                <span class="text-secondary"> | </span>
                <a href="#" class="link-secondary">Politica privacidad</a>
                <span class="text-secondary"> | </span>
                <a href="#" class="link-secondary">Terminos</a>
                <span class="text-secondary"> | </span>
                <a href="#" class="link-secondary">Condiciones</a>
            </div>

            <div class="col text-secondary">
                <h5><i class="fa-solid fa-copyright"></i> Uatu <i class="fa-solid fa-copyright"></i></h5>
            </div>

            <div class="col fs-5">
                <a href="#" class="link-secondary mx-2"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="link-secondary mx-2"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="link-secondary mx-2"><i class="fa-brands fa-youtube"></i></a>
                <a href="#" class="link-secondary mx-2"><i class="fa-brands fa-twitter"></i></a>
            </div>


        </div>
    </div>
</footer>